*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
}

header {
  background-color: tomato;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea{
  width: 100%;
  height: 200px;
  padding: 10px;
}

.interface {
  cursor: pointer;
}